.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg);
}

.bg-img2 {
  background-color: blue;
  background-size: cover;
  background-image: url(https://img.freepik.com/free-vector/realistic-galaxy-background_52683-12122.jpg?w=2000);
}

.bg-img3 {
  background-color: red;
  background-size: cover;
  background-image: url(https://img.freepik.com/premium-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?w=2000);
}

.carousel-item {
  height: 90vh;
}
